input,.liquid-btn{
    margin:50px;
    display: flex;
    width: 200px;
    text-align: center;
    justify-content: center;
   
    background: rgba(255,255,255,0.08);
    color: black;
    border: 2px solid rgba(255,255,255,0.2);
    padding: 8px;
    border-radius: 40px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 
        0 4px 30px rgba(0,0,0,0.3),
        inset 0 1px 1px rgba(255,255,255,0.2);
    font-size: 16px;
    font-family:Times New Roman;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.liquid-btn:hover{
    transform: scale(1.05);
    box-shadow: 
        0 6px 40px rgba(255,255,255,0.2);
       
}
